<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Авторизація</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="icon" href="/img/favicon.ico">
</head>
<body>
<div class="fixed-top">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <a class="navbar-brand" th:href="@{/}">Всі оголошення</a>
        <a class="navbar-brand" sec:authorize="isAuthenticated()" th:href="@{/nedvizhimost/my-ads}">Мої оголошення</a>
        <a class="navbar-brand" th:href="@{/nedvizhimost/bookmarks}">Обрані оголошення</a>
        <!--    <a class="navbar-brand" th:href="@{/nedvizhimost/filter}">Фільтр</a>-->
        <div class="navbar-nav">
            <form th:action="@{/auth/login}" class="nav-item">
                <input type="submit" class="btn btn-outline-primary" value="Авторизація">
            </form>
            <form th:action="@{/auth/register}" class="nav-item">
                <input type="submit" class="btn btn-outline-secondary" value="Реєстрація">
            </form>
        </div>
    </nav>
</div>

<div class="container">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-md-6">
            <div class="text-center">
                <h1>Відновлення паролю</h1>
            </div>
            <h6 th:if="${error}" class="text-center alert alert-danger" th:text="${error}"></h6>
            <form th:action="@{/auth/check-restore-code/{userEmail}(userEmail=${userEmail})}"  method="post">
                <div th:if="!${error}" class="mb-3">
                    <label for="activation_code" class="form-label">Введіть код активації</label>
                    <input type="text" class="form-control" id="activation_code" name="activation_code">
                </div>
                <button th:if="!${error}" type="submit" class="btn btn-primary">Продовжити</button>
                <a th:if="${error}" th:href="@{/auth/send-email-again/{userEmail}(userEmail=${userEmail})}" class="btn btn-secondary">Відправити код ще раз</a>
            </form>
        </div>
    </div>
</div>
</body>
</html>
