    <!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <title>Інформація про авто</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <link rel="stylesheet" type="text/css" href="/css/real-estate-information.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.2/css/all.min.css" rel="stylesheet"/>
        <link rel="icon" href="/img/favicon.ico">
    </head>
    <body>
    <div class="fixed-top">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <a class="navbar-brand" th:href="@{/}">Всі оголошення</a>
            <a class="navbar-brand" sec:authorize="isAuthenticated()" th:href="@{/nedvizhimost/my-ads}">Мої оголошення</a>
            <a class="navbar-brand" th:href="@{/nedvizhimost/bookmarks}">Обрані оголошення</a>
            <!--    <a class="navbar-brand" th:href="@{/nedvizhimost/filter}">Фільтр</a>-->
            <div class="navbar-nav" sec:authorize="!isAuthenticated()">
                <form th:action="@{/auth/login}" class="nav-item">
                    <input type="submit" class="btn btn-outline-primary" value="Авторизація">
                </form>
                <form th:action="@{/auth/register}" class="nav-item">
                    <input type="submit" class="btn btn-outline-secondary" value="Реєстрація">
                </form>
            </div>
            <a class="btn btn-lg btn-danger ml-auto" sec:authorize="isAuthenticated()" th:href="@{/auth/logout}">Вихід</a>
        </nav>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h1 class="text-center" style="margin-top: 110px" th:text="${realty.header}"></h1>
                <div class="text-center half-width-image" >
                    <button type="button" onclick="showPrevious()" class="btn arrow-left"><span class="fa fa-arrow-left"></span></button>
                    <img id="image" class="half-width-image" th:src="@{__${files.get(0)}__}" >
                    <button type="button" onclick="showNext()" class="arrow-right"><span class="fa fa-arrow-right"></span></button>
                </div>
            </div>
            <div class="col-md-6">
                <div style="overflow-x: auto">
                    <table id="realtyTable" style="margin-top: 130px" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Призначення</th>
                            <td th:text="${realty.purpose.title}"></td>
                        </tr>
                        <tr>
                            <th>Ціна</th>
                            <td th:text="${realty.price} + ' ' + ${realty.currency}"></td>
                        </tr>
                        <tr>
                            <th>Адреса</th>
                            <td th:if="${realty.address.district} == null"
                                th:text="${realty.address.region.title} + ', ' + ${realty.address.locality.title}"></td>
                            <td th:if="${realty.address.district} != null"
                                th:text="${realty.address.region.title} + ', ' + ${realty.address.locality.title} + ', ' + ${realty.address.district.title}"></td>
                        </tr>
                        <tr>
                            <th>Кількість кімнат</th>
                            <td th:text="${realty.numberOfRooms}"></td>
                        </tr>
                        <tr>
                            <th>Житлова площа</th>
                            <td th:text="${realty.housingArea} + ' m&sup2'"></td>
                        </tr>
                        <tr>
                            <th>Стан ремонту</th>
                            <td th:text="${realty.repair.title}"></td>
                        </tr>
                        <tr>
                            <th>Тип будинку</th>
                            <td th:text="${realty.construction.title}"></td>
                        </tr>
                        <tr>
                            <th>Меблі</th>
                            <td th:text="${realty.furnishing == false} ? 'Ні' : 'Так'"></td>
                        </tr>
                        <tr>
                            <th>Тип опалення</th>
                            <td th:text="${realty.heating.title}"></td>
                        </tr>
                        <tr>
                            <th>Площа земельної ділянки</th>
                            <td th:text="${realty.house.landArea} + ' сот.'"></td>
                        </tr>
                        <tr>
                            <th>Кількість поверхів</th>
                            <td th:text="${realty.house.floors}"></td>
                        </tr>
                        </thead>
                    </table>
                    <form class="text-center" th:action="@{/nedvizhimost/change-bookmark/{realtyId}(realtyId=${realty.id})}" method="post">
                        <button type="submit" value="false" name="stateBookmark" th:if="${bookmark == true}" class="btn btn-outline-danger" >Видалити з обране</button>
                        <button type="submit" value="true" name="stateBookmark" th:if="${bookmark == false}" class="btn btn-outline-success" >Додати в обране</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <div style="width: 70%; margin: auto;">
                    <h4>Опис</h4>
                    <p th:text="${realty.additionalInformation}"></p>
                    <h4>Власник оголошення</h4>
                    <p th:text="${realty.advertisement.userEmail.firstname} + ' ' + ${realty.advertisement.userEmail.lastname}"></p>
                    <h4>Контакти власника оголошення</h4>
                    <p th:text="'Номер телефону: ' + ${realty.advertisement.userEmail.phoneNumber}"></p>
                    <p th:text="'Електронна почта: ' + ${realty.advertisement.userEmail.email}"></p>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        var imagePaths = [[${files}]];
        var currentIndex = 0;
        var imageElement = document.getElementById('image');
        var realtyTable = document.getElementById('realtyTable');

       /* function showImage() {
            imageElement.src = imagePaths.at(currentIndex);
            imageElement.style.height = realtyTable.offsetHeight + 'px'; // Устанавливаем высоту изображения равной высоте таблицы
        }*/

        function showImage() {
            imageElement.src = imagePaths.at(currentIndex);
        }

        function showPrevious() {
            if (currentIndex > 0) {
                currentIndex = currentIndex - 1;
                showImage();
            }
        }

        function showNext() {
            if (currentIndex < imagePaths.length-1) {
                currentIndex = currentIndex + 1;
                showImage();
            }
        }

        // Вызываем функцию showImage() при загрузке страницы
        // window.onload = showImage;
    </script>
    </body>
    </html>
