<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Оголошення</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="icon" href="/img/favicon.ico">
</head>
<body>
<div class="fixed-top">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <a class="navbar-brand" th:href="@{/}">Всі оголошення</a>
        <a class="navbar-brand" sec:authorize="isAuthenticated()" th:href="@{/nedvizhimost/my-ads}">Мої оголошення</a>
        <a class="navbar-brand" th:href="@{/nedvizhimost/bookmarks}">Обрані оголошення</a>
<!--        <a class="navbar-brand" th:href="@{/nedvizhimost/filter}">Фільтр</a>-->
        <div class="navbar-nav" sec:authorize="!isAuthenticated()">
            <form th:action="@{/auth/login}" class="nav-item">
                <input type="submit" class="btn btn-outline-primary" value="Авторизація">
            </form>
            <form th:action="@{/auth/register}" class="nav-item">
                <input type="submit" class="btn btn-outline-secondary" value="Реєстрація">
            </form>
        </div>
        <a class="btn btn-lg btn-outline-danger ml-auto" sec:authorize="isAuthenticated()" th:href="@{/auth/logout}">
            <span>Вихід</span>
        </a>
    </nav>
</div>
<div style="margin-top: 100px; margin-bottom: 20px" class="text-center">
    <form th:if="${key} == false" th:action="@{/nedvizhimost/filter}" class="mb-3">
        <button type="submit" class="btn btn-primary">Фільтр</button>
    </form>
    <form th:if="${key} == true" th:action="@{/nedvizhimost/filter/remove}">
        <button type="submit" class="btn btn-success">Прибрати фільтр</button>
    </form>
</div>
<div>
    <div class="container">
        <div class="row">
            <div th:each="realty: ${realties}" class="col-md-4 mb-4">
                <div class="card">
                    <img th:src="${realty.getFirstImage()}" class="card-img-top" alt="Image">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${realty.header}"></h5>
                        <p class="card-text">Кількість кімнат: <span th:text="${realty.numberOfRooms}"></span></p>
                        <p class="card-text">Ціна: <span th:text="${realty.getPriceInFirstCurrency} + ' ' + ${realty.getFirstCurrency.name()} + ' / ' + ${realty.getPriceInSecondCurrency()} + ' ' + ${realty.getLastCurrency().name()}"></span></p>
                        <p class="card-text">Житлова площа: <span th:text="${realty.housingArea} + ' m&sup2'" ></span></p>
                        <p th:if="${realty.address.district} == null" class="card-text">Адреса: <span th:text="${realty.address.region.title} + ', ' + ${realty.address.locality.title}"></span></p>
                        <p th:if="${realty.address.district} != null" class="card-text">Адреса: <span th:text="${realty.address.region.title} + ', ' + ${realty.address.locality.title} + ', ' + ${realty.address.district.title}"></span></p>
                        <a href="#" class="btn btn-primary" th:href="@{/nedvizhimost/information/realty/{realtyId}(realtyId=${realty.id})}">Детальніше</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>