<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Фильтр</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="icon" href="/img/favicon.ico">
</head>
<body>
<div class="fixed-top">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <a class="navbar-brand" th:href="@{/}">Всі оголошення</a>
        <a class="navbar-brand" sec:authorize="isAuthenticated()" th:href="@{/nedvizhimost/my-ads}">Мої оголошення</a>
        <a class="navbar-brand" th:href="@{/nedvizhimost/bookmarks}">Обрані оголошення</a>
        <!--    <a class="navbar-brand" th:href="@{/nedvizhimost/filter}">Фільтр</a>-->
        <div class="navbar-nav" sec:authorize="!isAuthenticated()">
            <form th:action="@{/auth/login}" class="nav-item">
                <input type="submit" class="btn btn-outline-primary" value="Авторизація">
            </form>
            <form th:action="@{/auth/register}" class="nav-item">
                <input type="submit" class="btn btn-outline-secondary" value="Реєстрація">
            </form>
        </div>
        <a class="btn btn-lg btn-outline-danger ml-auto" sec:authorize="isAuthenticated()" th:href="@{/auth/logout}">
            <span>Вихід</span>
        </a>
    </nav>
</div>
<div style="margin-top: 100px" class="text-center">
    <h1>Фільтр</h1>
</div>
<form th:action="@{/nedvizhimost/filter/property}" style="width: 50%;margin: auto;" method="get">
    <div class="form-group">
        <label for="property">Категорія</label>
        <div class="form-group">
            <select class="custom-select" name="property" id="property" required>
                <!--        <option th:each="property : ${properties}"-->
                <!--                th:text="${property.title}"-->
                <!--                th:value="${property.title}">-->
                <option value="Квартира">Квартира</option>
                <option value="Приватний будинок">Приватний будинок</option>
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Вибрати</button>
</form>
</body>
</html>